extends ../layout

block content
	.col-md-8
		h3 Nueva País
		br
		form(method='post', id="country_create", action='/countries/create').form-horizontal
			.form-group
				label.col-md-2.control-label Nombre:
				.col-md-8
					input(name='country[name]', type='text').form-control.input-sm
			.form-group
				.col-sm-offset-2.col-sm-8
					button(type='submit').btn.btn-default Cargar