extends ../layout

block content
	script(type='text/javascript', src='/js/Chart.js')
	script(type='text/javascript', src='/js/Stats.js')
	hr
	h3 Usuarios Nuevos
	canvas(id="myChart", width="400", height="400")
	hr
	h3 Compras
	canvas(id="myChart1", width="400", height="400")
	hr
	h3 Ofertas Nuevas
	canvas(id="myChart2", width="400", height="400")
	hr
	h3 Nuevos Promotores
	canvas(id="myChart3", width="400", height="400")
	hr
	h3 Suscripciones
	canvas(id="myChart4", width="400", height="400")
	hr
	h3 Cantidad de contactos promedio
	canvas(id="myChart5", width="400", height="400")
