extends ../layout

block content
	script(type='text/javascript', src='/js/Chart.js')
	script(type='text/javascript', src='/js/Stats.js')
	hr
	h3 Usuarios Nuevos por mes
	canvas(id="myChart", width="400", height="400")
	hr
	h3 Nuevas Ofertas por mes
	canvas(id="myChart1", width="400", height="400")
	hr
	h3 Invitaciones por mes
	canvas(id="myChart2", width="400", height="400")
	hr
	h3 Ventas por mes
	canvas(id="myChart3", width="400", height="400")
	hr
	h3 Ventas semanales
	canvas(id="myChart4", width="400", height="400")
	
