.menu
	include profile
	ul(class="nav nav-pills small nav-stacked")
		li.nav-header
			span.glyphicon.glyphicon-star Ofertas
		li
			a(href='/deals') Ver Todas
		li
			a(href='/deals/active') Ver Activas
		li
			a(href='/deals/future') Ver Próximas
		li
			a(href='/deals/create') Crear Oferta

		li.nav-header 
			span.glyphicon.glyphicon-th Menu
		li
			a(href='/news') Noticias
		-if(RolesHelper.promoter(expose.user))
			li.nav-header Promotores
			li
				a(href='/intranet/promoters/list_sons/0') Listado
			li
				a(href='/intranet/bonuses/my_bonuses') Mis Bonos
		-if(RolesHelper.partner(expose.user))
			li.nav-header Socios
			li
				a(href='h1') Mi Tienda
			li
				a(href='h1') Mis Comisiones
		-if(RolesHelper.seller(expose.user))
			li.nav-header Vendedores
			li
				a(href='/sellers/list') Ventas
			li
				a(href='h1') Comisiones	
		li.nav-header 
			span.glyphicon.glyphicon-user Contactos
		li
			a(href='/users/contacts') Listado
		li
			a(href='/invitations') Invitaciones
		li.nav-header 
			span.glyphicon.glyphicon-signal Administración
		li
			a(href='/intranet/stats') Estadísticas
		li
			a(href='/intranet/sales/list_all') Ventas
		li
			a(href='h1') Pagos
		li
			a(href='/intranet/products/list') Productos
		li
			a(href='/users') Usuarios
		li
			a(href='/countries/list') Paises
		li
			a(href='/intranet/franchisors/list') Franquiciantes
		li
			a(href='/stores/list') Comercios
		li
			a(href='/intranet/sellers/list') Vendedores
		li
			a(href='/intranet/currencies/list') Monedas
		li
			a(href="/bankAccount/list") Cuentas Bancarias
			
		li.nav-header 
			span.glyphicon.glyphicon-envelope Email-Marketing
		li
			a(href='/subscribers') Suscriptores
		li
			a(href='/newsletters/create') Newsletters
		li
			a(href='h1') Lista de Mails