div(class='modal fade', id='SelectorFranchiseModal', tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
	div(class='modal-dialog')
		div(class='modal-content')
			div(class='modal-header')
				button(type='button', class='close', data-dismiss='modal', aria-hidden='true') &times
				h4(class='modal-title', id='myModalLabel') Seleccione franquicia
			div(class='modal-body')
				.container-fluid
					.col-md-6.col-md-offset-3
						select.form-control#countries_select
						br
						br
						select.form-control#franchises_select
			div(class='modal-footer')
				a(href="/users/create") Registrate en Giombu
			
